<!DOCTYPE html>
<html lang="en">
<head>
    <!--Here we have the links for Boostrap and CSS for layout, design and Icons-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/Edit</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/Imagenes/Logo/Logo.png">
</head>
<body>
    <!-- This the header of the page-->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/views/indice.html">SOFTFLIX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/views/indice.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/add.html">Add</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2 class="mb-4">Add/Edit film</h2>
                <!--Here we have the section of the form-->
                <form role="form" method="post" action="/addFilm">
                    <div class="mb-3 form-group">
                        <label for="title" class="form-label">Title of the film</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Add the title of the film">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                            placeholder="Add the description of the film"></textarea>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="releaseYear" class="form-label">Release year</label>
                        <input type="number" class="form-control" id="releaseYear" name="releaseYear" placeholder="Add the release year">
                    </div>
                    <div class="mt-5 mb-5 checkbox">
                        <label for="genre" class="form-label">Gender:</label>
                        <div class="btn-group" role="group" aria-label="Gender toggle buttons">
                            <input type="checkbox" class="btn-check" id="action" name="genre" value="Action" autocomplete="off">
                            <label class="btn btn-outline-primary" for="action">Action</label>
                            <input type="checkbox" class="btn-check" id="comedy" name="genre" value="Comedy" autocomplete="off">
                            <label class="btn btn-outline-primary" for="comedy">Comedy</label>
                            <input type="checkbox" class="btn-check" id="horror" name="genre" value="Horror" autocomplete="off">
                            <label class="btn btn-outline-primary" for="horror">Horror</label>
                            <input type="checkbox" class="btn-check" id="scifi" name="genre" value="Science-Fiction" autocomplete="off">
                            <label class="btn btn-outline-primary" for="scifi">Science-Fiction</label>
                            <input type="checkbox" class="btn-check" id="fantasy" name="genre" value="Fantasy" autocomplete="off">
                            <label class="btn btn-outline-primary" for="fantasy">Fantasy</label>
                            <input type="checkbox" class="btn-check" id="adventure" name="genre" value="Adventure" autocomplete="off">
                            <label class="btn btn-outline-primary" for="adventure">Adventure</label>
                            <input type="checkbox" class="btn-check" id="adventure2" name="genre" value="Other" autocomplete="off">
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="rating" class="form-label">Calification</label>
                        <input type="number" class="form-control" id="rating" name="rating" placeholder="Add the calification (0-5)"
                            min="0" max="5" step="0.5">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="edad" class="form-label">Age classification</label>
                        <input type="text" class="form-control" id="edad" name="ageClassification" placeholder="Add the age classification">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="director" class="form-label">Director</label>
                        <input type="text" class="form-control" id="director" name="director" placeholder="Add the director">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="foto" class="form-label">Image of the director:</label>
                        <input class="form-control" type="file" id="foto" name="foto" accept="image/*">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="cast" class="form-label">Casting</label>
                        <input type="text" class="form-control" id="cast" name="cast"
                            placeholder="Add the names of the casting, separated by comas">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="foto" class="form-label">Images of the casting:</label>
                        <input class="form-control" type="file" id="foto" name="foto" accept="image/*">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="duration" class="form-label">Duration (hours, minutes)</label>
                        <input type="number" class="form-control" id="duration" name="duration"
                            placeholder="Add the duration in hours,minutes">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="foto" class="form-label">Image of the film:</label>
                        <input class="form-control" type="file" id="foto" name="foto" accept="image/*">
                    </div>
                    <div class="mt-5 checkbox">
                        <label for="language" class="form-label">Language:</label>
                        <div class="btn-group" role="group" aria-label="Language toggle buttons">
                            <input type="checkbox" class="btn-check" id="english" name="language" value="English" autocomplete="off">
                            <label class="btn btn-outline-success" for="english">English</label>
                            <input type="checkbox" class="btn-check" id="spanish" name="language" value="Spanish" autocomplete="off">
                            <label class="btn btn-outline-success" for="spanish">Spanish</label>
                            <input type="checkbox" class="btn-check" id="french" name="language" value="French" autocomplete="off">
                            <label class="btn btn-outline-success" for="french">French</label>
                            <input type="checkbox" class="btn-check" id="german" name="language" value="German" autocomplete="off">
                            <label class="btn btn-outline-success" for="german">German</label>
                            <input type="checkbox" class="btn-check" id="german2" name="language" value="Other" autocomplete="off">
                        </div>
                    </div>
                    <div class="mb-5 mt-5">
                        <button type="submit" class="btn btn-primary">Add/Edit</button>
                        <a href="/views/indice.html" class="btn btn-secondary" role="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- To finish, the footer of the page.-->
    <footer class="site-footer">
        <div class="footer-inner">
            <div class="footer-left">
                <p>&copy; 2025 Softflix. All rights reserved.</p>
            </div>
            <!-- Links to terms of privacy and so on however, they don't have any function by now-->
            <div class="footer-right">
                <a href="#">Privacy |</a>
                <a href="#"> Terms |</a>
                <a href="#"> Contact</a>
            </div>
        </div>
    </footer>
</body>
</html>
