<footer class="site-footer">
        <div class="footer-inner">
            <div class="footer-left">
                <p>&copy; 2025 Softflix. All rights reserved.</p>
            </div>
            <!-- Links to terms of privacy and so on however, they don't have any function by now-->
            <div class="footer-right">
                <a href="#">Privacy |</a> 
                <a href="#"> Terms |</a> 
                <a href="#"> Contact</a>
            </div>
        </div>
    </footer>